body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    /* line-height: 1.2; */
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

.container {
    position: relative;
    z-index: 40;
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
}

.hinhnen-1 {
    height: 756.4px;
    background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/bg0.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.header {
    position: relative;
    z-index: 100;
    background-color: white;
    padding: 20px 16px;
}

.nd1-header {
    position: relative;
    z-index: 102;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #e52f37;
    margin-right: 16px;
    padding: 5px 0px;
}

.nd2-header {
    position: relative;
    z-index: 102;
    margin-left: auto;
    align-self: center;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}

li {
    display: inline;
    font-size: 17px;
    line-height: 28px;
    /* font-family: 'Open Sans', sans-serif; */
    /* list-style-type: none; */
    transition: all linear 0.5s;
}

li:hover {
    color: #e52f37;
}

.padding-10-15 {
    padding: 10px 15px;
}

.button-1 {
    position: relative;
    z-index: 102;
    color: white;
    border: 1px solid #e52f37;
    background-color: #e52f37;
    border-radius: 45px;
    padding: 12px 18px;
    margin: 0px 15px 0px 10px;
    transition: all linear 0.3s;
}

.button-1:hover {
    color: #e52f37;
    background-color: white;
}

.button-1_2 {
    position: absolute;
    left: 82.5%;
    top: 28px;
    height: 26.4px;
    z-index: 101;
    font-size: 20px;
    color: #e52f37;
    border: 1px solid #e52f37;
    border-radius: 5px;
    padding: 1.5px 16.25px 6.5px 16.25px;
    margin-right: 52px;
    align-items: center;
    opacity: 0;
}

.section-1 {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 664.4px;

}

.align-center {
    display: flex;
    align-items: center;
}

.nd1-section-1 {
    width: 540px;
    height: 386.4px;
    padding: 120px 15px 0px 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.OS-20-text {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 50;
    color: #fff;
    text-shadow: 1px 1px #373737;
    letter-spacing: 0.8px;
}

.play-button {
    /* display: flex;
    align-self: center;
    justify-self: end; */
    width: 60px;
    height: 60px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50% 50%;
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

.play-button-in {
    font-size: 26px;
    line-height: 56px;
    color: #e52a3d;
    margin-left: 18px;
    /* transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out; */
}

@media only screen and ((max-width: 1199.9px)) {
.container {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.nd2-header {
    margin-left: 0px;
}

.button-1 {
    margin-right: auto;
}
}

@media only screen and ((max-width: 991.9px)) {
.container {
    height: 52px;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
}
    
.nd2-header {
    opacity: 0;
}

.button-1_2 {
    opacity: 1;
}
}