@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

.body-1 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}


.thanh-ngang {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    padding-top: 45px;
    padding-bottom: 1px;
    margin-bottom: 50px;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.width-auto-1\/2 {
    width: 50%;
}

.flex-display {
    display: flex;
    margin-bottom: 50px;
}


#J-icon {
    color: white;
    background-color: #020202;;
    border-style: solid;
    border-color: #020202;;
    border-width: 5px;
    border-radius: 5px;
    padding: 5px 14px 5px 14px;
    font-size: 30px;
}

.icon {
    border: 1px solid white;
    height: 50px;
    border-radius: 50%;
    justify-content: flex-end;
    padding-top: 5px;
}

.inline-block {
    display: inline-block;
}

.align-content-center {
    align-content: center;
}

.justify-content-center {
    justify-content: center;
}

.padding-right-70 {
    padding-right: 70px;
}

.padding-top-50 {
    padding-top: 50px;
}

.gach-chan {
    display: inline-block; 
    border-bottom: 4px solid red; 
    width: auto; 
    padding: 3px; 
    font-size: 30px;
    margin-bottom: 45px;
}

.button {
    display: inline-flex;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid rgb(255, 148, 102);
    border-radius: 35px;
    width: 180px;
    padding: 15px 0px 15px 0px;
    font-size: 23px;
    color: rgb(255, 148, 102);
    margin-top: 50px;
}

.skill {
    border: 1px solid black;
    /* height: 16px; */
    border-radius: 20px;
    display: inline-block;
    margin: 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 23px;
}

.background {
    padding-left: 70px;
    padding-top: 40px;
    padding-right: 70px;
    background-color: #F6F8FA;
    margin-bottom: 55px;
    display: flex;
}

#noi-dung-1 {
    width: 60%;
    padding-right: 120px;
    padding-top: 20px;
    display: inline-block;
}

#noi-dung-2 {
    width: 40%;
    display: inline-block;
}

.body-2{
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 120px 0;
}

.white-font {
    color: #808080;
    font-size: 16px;
    flex-direction: row;
}